html .md-nav--primary .md-nav__title--site .md-nav__button {
  top: 0;
  left: 0;
  width: inherit;
  height: auto;
}

thead {
	background-color: var(--md-default-fg-color--light);
	color: var(--md-primary-bg-color);
}

.md-nav__title .md-nav__button.md-logo img, .md-nav__title .md-nav__button.md-logo svg {
  height: 3rem;
  width: auto;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
  width: auto;
}
